.ipynb_checkpoints/
data/
output/
python-env/
node_modules
*.csv
api/dist
index/dist
.idea/

# Yarn Berry
**/.yarn/*
!**/.yarn/patches
!**/.yarn/plugins
!**/.yarn/releases
!**/.yarn/sdks
!**/.yarn/versions