swagger: "2.0"
info:
  description: "Documentation de l'API recherche-entreprises"
  version: "1.0.0"
  title: "API recherche-entreprises"
  contact:
    email: "codedutravailnumerique@travail.gouv.fr"
  license:
    name: "Apache-2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "api.recherche-entreprises.fabrique.social.gouv.fr"
basePath: "/api/v1"
schemes:
  - "https"
  - "http"
paths:
  /search:
    get:
      summary: "Recherche d'entreprise par nom"
      description: "Recherche d'entreprise par nom d'établissement, raison sociale, siret, siren"
      operationId: "search"
      tags:
        - "Recherche"
      produces:
        - "application/json"
      parameters:
        - in: "query"
          name: "query"
          description: "Texte de la recherche"
          required: true
          type: string
          example: "Michelin"
          value: "Michelin"
        - in: "query"
          name: "address"
          description: "Localisation de l'entreprise"
          required: false
          example: "Lyon"
          value: "Lyon"
          type: string
        - in: "query"
          name: "limit"
          description: "Nombre de résultats max"
          required: false
          example: 100
          value: 100
          default: 100
          type: integer
        - in: "query"
          name: "open"
          description: "Retourne uniquement les établissements ouverts"
          required: false
          example: false
          value: false
          default: true
          type: boolean
        - in: "query"
          name: "employer"
          description: "Retourne uniquement les établissements avec des employés déclarés"
          required: false
          example: false
          value: false
          default: false
          type: boolean
        - in: "query"
          name: "convention"
          description: "Retourne uniquement les établissements avec une convention collective déclarée"
          required: false
          example: false
          value: false
          default: false
          type: boolean
        - in: "query"
          name: "ranked"
          description: "Si 'true', ordonne les résultats par taille d'établissement, basée sur la tranche effectif de l'unité légale. Si 'false', ordonné par SIRET décroissant."
          required: false
          example: true
          value: true
          default: true
          type: boolean
      responses:
        "500":
          description: "Unexpexted error occured"
  /etablissement/{siret}:
    get:
      summary: "Recherche d'entreprise par SIRET"
      description: "Recherche d'entreprise par numéro SIRET"
      operationId: "siret"
      tags:
        - "Recherche"
      produces:
        - "application/json"
      parameters:
        - in: "path"
          name: "siret"
          description: "Numéro de SIRET (14 caractères)"
          required: true
          type: string
          example: "32384135300911"
          value: "32384135300911"
  /entreprise/{siren}:
    get:
      summary: "Recherche d'entreprise par SIREN"
      description: "Recherche d'entreprise par numéro SIREN  (9 caractères)"
      operationId: "siren"
      tags:
        - "Recherche"
      produces:
        - "application/json"
      parameters:
        - in: "path"
          name: "siren"
          description: "Numéro de SIREN"
          required: true
          type: string
          length: 14
          example: "323841353"
          value: "323841353"
externalDocs:
  description: "Source sur GitHub"
  url: "https://github.com/socialgouv/recherche-entreprises"
