on:
  push:
    branches: ["*"]
  pull_request:
    branches: ["*"]

name: Tests
jobs:
  tests:
    runs-on: ubuntu-latest
    name: Tests
    steps:
      - uses: actions/checkout@v2
      - shell: bash
        env:
          ELASTICSEARCH_URL: ${{ secrets.ELASTICSEARCH_URL }}
          ELASTICSEARCH_API_KEY: ${{ secrets.ELASTICSEARCH_API_KEY }}
          ELASTICSEARCH_INDEX_NAME: search-entreprises
        run: |
          cd api
          yarn
          yarn test

